body {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    line-height: 24px;
}
.container {
    margin: 0 auto;
    font-family: 'Comfortaa', sans-serif;
    background-image: url("../img/chef-icon.png");
    background-repeat: no-repeat;
    max-width: 1110px;
}
