.section__button {
    text-align: center;
    margin-top: 30px;

}
.section__button a {
    padding: 15px;   
    background-color: #fff;
    color: red;
    border: 2px solid red;
    height: 40px; 
    text-decoration: none;
}