.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1110px;
    min-height: 370px;
    background-image: url(../../img/subsciption-bg.jpg);
    background-position: center center;
    text-align: center;
}
.footer__box {
    margin: 0 auto;
}
.footer__box input {
    background-color: #fff;
    width: 500px;
    height: 60px;
    padding: 0 15px;  
    margin-right: 30px;  
}
.footer__box button {
    background-color: red;
    border: none;
    color: #fff;
    width: 240px;
    height: 60px;
    padding: 0 15px;    
}
.footer__box p {
    font-size: 33px;
    font-weight: bold;
    color: #fff;
}